src/vendor
src/node_modules
src/.env
.git
.gitignore
docker-compose.yml


node_modules
vendor
tests
edutrack/storage/logs
edutrack/storage/debugbar
src/storage/logs
src/storage/debugbar
*.log
*.zip
*.gz
.env*
.git
.dockerignore
docker-compose.override.yml
