services:
  app:
    build:
      context: ./docker/php
    container_name: laravel-vue-app
    volumes:
      - ./src:/var/www/html
    environment:
      - APP_KEY=${APP_KEY}
    ports:
      - "9001:9001"
    networks:
      - laravel

  web:
    image: nginx:latest
    container_name: laravel-vue-nginx
    ports:
      - "8081:80"
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mariadb:10.5
    container_name: laravel-vue-db
    environment:
      - MYSQL_DATABASE=edutrack
      - MYSQL_USER=root
      - MYSQL_ALLOW_EMPTY_PASSWORD="yes"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: always

networks:
  laravel:
    driver: bridge

volumes:
  db_data:
    driver: local
  app_data:
    driver: local